#timeline{padding-left:0 !important;padding-right:0 !important;}
#section-body{padding-left:0 !important;padding-right:0 !important;margin: 0 auto;margin-top: 60px;}
#section-content{margin-left:auto !important;margin-right:auto !important;}
#content-area{display:inline-block;padding-left:auto;padding-right:0;background:red;}
.media-heading{font-weight:bold;}