#timeline{padding-left:0 !important;padding-right:0 !important;}
#section-body{padding-left:0 !important;padding-right:0 !important;margin: 0 auto;margin-top: 60px;}
#section-content{margin-left:auto !important;margin-right:auto !important;}
#content-area{display:inline-block;padding-left:auto;padding-right:0;}
.media{border-bottom:1px solid Gainsboro;}
#media-body{margin:0;padding:0}
.media-heading{font-weight:bold;}
#file-input
{
    display: none;
}

.image-upload span
{
    width: 80px;
    cursor: pointer;
}